ul {
    text-align: justify;
}

.numberOfResults {
    margin-left: 2rem;
    text-align: justify;
}

.articleAbstract {
    margin-right: 30rem;
    margin-bottom: -1rem;
}

.articleLink {
    color: darkred;
}